{% extends "base.html" %}

{% block content %}
    {% include 'blog/post_header.html' %}

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-content">
                    {{ post.content | safe }}

                    <div class="pt-5">
                        <p>
                            Categories:
                            <a href="#">Design</a>,
                            <a href="#">Events</a>

                            Tags:
                            <a href="#">#html</a>,
                            <a href="#">#trends</a>
                        </p>
                    </div>


                    {% include 'blog/blog_comments.html' %}
                </div>

                {% include 'blog/blog_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock content %}